@model yazlab2mvc.Models.Kullanicilar

<h2>Profilim</h2>

<div>
    <p><strong>Ad:</strong> @Model.Ad</p>
    <p><strong>Soyad:</strong> @Model.Soyad</p>
    <p><strong>Email:</strong> @Model.Eposta</p>
    <p><strong>Telefon:</strong> @Model.TelefonNumarasi</p>
    <p><strong>Konum:</strong> @Model.Konum</p>

    @if (!string.IsNullOrEmpty(Model.IlgiAlanlari))
    {
        <p><strong>İlgi Alanları:</strong></p>
        <ul>
            @foreach (var ilgiAlani in Model.IlgiAlanlari.Split(','))
            {
                <li>@ilgiAlani.Trim()</li>
            }
        </ul>
    }
    else
    {
        <p><strong>İlgi Alanları:</strong> Henüz belirtilmemiş.</p>
    }

    <a href="@Url.Action("ProfilGuncelle", "Kullanici")" class="btn btn-secondary mt-3">Bilgilerimi Güncelle</a>

    @if (!string.IsNullOrEmpty(Model.ProfilFotografi))
    {
        <div>
            <img src="@Model.ProfilFotografi" alt="Profil Fotoğrafı" class="img-thumbnail" width="150" />
        </div>
    }
    else
    {
        <p>Profil fotoğrafı yok.</p>
    }
</div>
